# Dependencies
node_modules
npm-debug.log

# Build output
dist

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docs
*.md
!README.md

# Tests
test
coverage
*.spec.ts
