name: dz_delivery_admin
description: DZ Delivery - Application Admin
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^3.0.0
  supabase_flutter: ^2.9.0
  dio: ^5.8.0
  http: ^1.3.0
  shared_preferences: ^2.5.0
  intl: ^0.20.0
  fl_chart: ^0.70.2
  cupertino_icons: ^1.0.8
  data_table_2: ^2.5.15
  onesignal_flutter: ^5.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
